#my_header {
  border: 5px outset red;
  height:205px;
  width: 1030px;
    background-color: lightblue;
  text-align: center;
      float:left;
      }
#profile{
  border: 5px outset red;
  float:right;

}
